<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Boi</title>
    <style>
        h1 {
            text-align: center;
            font-size: 36px;
            font-family: 'consolas';
        }

        p {
            text-align: center;
            font-size: 24px;
            font-family: 'consolas';
            line-height: 1em;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Hi {{ bois_ip }}</h1>
    <p>You found this, nice work.</p>
    <br>
    <p><a href="http://endless.horse/">ivilag@protonmail.ch</a></p>
    <p>Title: YMF9</p>
</body>
</html>